* {
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    height: 100vh;
    background-color: #2d3645;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 75px;
    background-color: #232a36;
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.header-img {
    border-radius: 15px;
    margin-left: 20px;
    height: 50px;
    width: 50px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 300px;
    height: 75px;
    background-color: aliceblue;
    color: #2e2e2e;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    margin-top: 100px;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    color: #fff;
    font-size: 30px;  
    margin-bottom: 10px;
}
.hero-img {
    border-radius: 5px;
    height: 150px;
    width: 300px;
    display: none;
}

.footer {
    width: 100%;
    height: 75px;
    background-color: #232a36;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-text {
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.footer-img {
    margin-right: 20px;
    height: 50px;
    width: 50px;
}


@media(max-width: 400px) {
    .hero-img {
        height: 100px;
        width: 200px;
    }

    .hero-text {
        font-size: 20px;
    }

    button {
        font-size: 15px;
        height: 50px;
        width: 200px;
    }
}